img {
  max-width: 400px;
  border-radius: 5px;
  border: 1px solid black;
}

#input {
  width: 100%;
  padding-left: 35px !important;
  padding-right: 35px !important;
}

input:focus {
  border-color: #fff !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}

.remove_input {
  font-size: 17px;
  opacity: 0.6;
  top: 15%;
  right: 2%;
  cursor: pointer;
  padding: 6px;
  border-radius: 7px;
  transition: 0.2s;
  transform: translateY(-50%);
}

.remove_input:hover {
  background-color: #e9eef1;
}

.search_icon {
  left: 1%;
  top: 15%;
  padding: 6px;
  font-size: 17px;
  opacity: 0.6;
  transform: translateY(-50%);
}

.navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
}

footer {
  background-color: #e9eef1;
}

.nav-link {
  font-size: 20px;
}

.nav-link.active {
  font-weight: 600;
}
