#image {
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 1.25rem;
  max-height: 400px;
  min-height: 400px;
  object-fit: cover;
}

#input {
  width: 100%;
  padding-left: 35px !important;
  padding-right: 35px !important;
}

input:focus {
  border-color: #fff !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}

.remove_input {
  font-size: 17px;
  opacity: 0.6;
  top: 15%;
  right: 2%;
  cursor: pointer;
  padding: 6px;
  border-radius: 7px;
  transition: 0.2s;
  transform: translateY(-50%);
}

.remove_input:hover {
  background-color: #e9eef1;
}

.search_icon {
  left: 1%;
  top: 15%;
  padding: 6px;
  font-size: 17px;
  opacity: 0.6;
  transform: translateY(-50%);
}

.navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
}

footer {
  background-color: #e9eef1;
}

.nav-link {
  font-size: 20px;
}

.nav-link.active {
  font-weight: 600;
}

.image-wrapper {
  max-width: 100%; /* Đảm bảo hình ảnh không vượt quá modal */
  max-height: 80vh; /* Đặt chiều cao tối đa để các nút không bị che */
  overflow: hidden; /* Ẩn phần thừa của hình ảnh khi phóng to */
  position: relative; /* Đảm bảo lớp này chứa hình ảnh khi phóng to */
}

#lightboxImage {
  transition: transform 0.3s ease; /* Hiệu ứng phóng to, thu nhỏ */
  max-width: 100%;
  max-height: 100%; /* Giới hạn kích thước tối đa của hình ảnh */
}

.zoom-controls {
  position: relative;
  z-index: 10; /* Đảm bảo các nút nằm trên hình ảnh khi phóng to */
}
